<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/{id}(id=${editedPerson.getId()})}" th:object="${editedPerson}">
    <label for="input-name">Введите ФИО: </label>
    <input type="text" th:field="*{name}" id="input-name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="input-age">Введите год рождения: </label>
    <input type="text" th:field="*{age}" id="input-age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <input type="submit" value="Редактировать!">
</form>
</body>
</html>